@use 'index' as *;

.grid-container{
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 100vh ;
  sidebar{
    @include BorderRight(1px,$gray-color);
    padding: 20px;
  }
  .mid-content{
    padding:20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto minmax(0, 1fr); /* last row takes remaining height */
    gap:20px;
    height: 100vh; /* Ensure the grid container has full viewport height */

    table{
      align-self: start; 
      width:100%;
      tr,td{
        padding:2px;
        text-align: left;
        font-size:14px;
        color:$black;
      }
      .asigned-book{
        text-decoration: underline;
        font-weight: 600;
        cursor: pointer;
      }
    }
  }
}


.btn{
  border:none;
  color: $secondary-color;
  padding:5px 20px;
  text-transform: capitalize;
  background-color: $primary-color;
  margin-top: 15px;
  cursor: pointer;
  @include BorderRadius(4px);
}

.nav-btn{
  @extend .btn;
  color: $black;
  background-color: $secondary-color;
  &:hover,&.active{
    background-color: $primary-color;
    color:$secondary-color;
  }
}

fieldset {
  border:0;
}

.issued-book-form {
  select{
   width:100%; 
  }
}

.overlay{
  position: absolute;
  width:100%;
  height:100%;
  left:0;
  top:0;
  background-color: rgba($black,.5);
  &.hidden{
    display: none;
  }
}
.closed-btn{
  width:30px;
  height:30px;
  font-size:16px;
  font-weight:700;
  position: absolute;
  right:10px;
  top:10px;
  z-index: 20;
  cursor: pointer;
  
}
.model {
    max-width: 90%;
    height: 300px;
    background: #fff;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10;
    margin: auto;
    right: 0;
    bottom: 0;
    &.hidden{
      display: none;
    }
    h2 {
      text-align: center;
      padding:5px 0;
    }
    table {
      width:100%;
      text-align: left;
      padding:10px;
      th,td{
        border: 1px solid #ddd;
        
      }
    }
}